.yoga-container {
    width: 100vw;
    min-height: 100vh;
    background: #9f9f9f;
}
.secondary-btn {
    position: relative;
    left: 55%;
    margin-top: 25px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #666; 
    background-color: #ccc; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    color: #333; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; 
}
.secondary-btn:hover {
    background-color: #999; 
    border-color: #333; 
    color: white; 
}
.starting-contdown {
    margin: auto;
    border: 10px solid rgba(125, 125, 125, 0.5);
    width: max-content;
    padding: 10px 30px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0);
    position: relative;
    top: 45%;
}
.starting-contdown h1 {
    color: white;
}
.pose-img {
    position: absolute;
    right: 120px;
    top: 80px;
    width: 500px;
    aspect-ratio: 1;
}

.performance-container {
    display: flex;
    padding: 20px;
    position: absolute;
    left: 150px;
}


.pose-performance {
    margin: 10px 10px;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
}
.pose-performance h4 {
    color: rgba(0,0,0,0.7);
}

#webcam {
    transform: rotateY(180deg);
}

#my-canvas {
    transform: rotateY(180deg);
}