.kanit-medium {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
}
.about-container {
    width: 100vw;
    min-height: 100vh;
    background: #9f9f9f;
}
.about-heading {
    font-size: 54px;
    text-align: center;
    padding-top: 20px;
    color: #333333;
    font-family : 'Kanit', sans-serif;
    justify-content:stretch;
    font-weight: 900;
}
.about-main {
    margin: auto;
    width: 80%;
}
.about-content {
    padding-top: 50px;
    color: #333333;
    font-size: 18px;
}
