.home-header {
    background: linear-gradient(100deg,#800080  , #FFFF00  );
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-container {
    background: black
}
.header-btn:hover {
    border-color: rgb(56, 162, 255);
}
.home-heading {
    padding: 0px;
    margin: 0px;
    font-size: 44px;
    margin-left: 30px;
    color: rgb(243, 243, 243);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.home-main {
    margin: auto;
    margin-top: -88.5px;
    width: 100vw;
    height: 90.9vh;    
    background: linear-gradient(rgba(0,0,0,0.2), rgba(147, 148, 107, 0.8)), url('../../utils/images/yoga_pose.png') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size:  800px;
    
}
.description {
    font-size: 45px;
    color: #FFD700 ;
    text-align: center;
    margin: 0px;
    margin-top: 34.5px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.5px;
}
.btn-section {
    position: absolute;
    left: 42vw;
    top: 60vh;
}
.btn{
    padding: 0px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 10px 20px 10px 20px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 24px;
    border-color: #800080 ;
    border-radius: 8px;
    border-width: 2px;
    cursor: pointer;
}
.btn:hover {
    background: rgba(255,165,0, 0.2);
    color: white;
}
body::-webkit-scrollbar {
    display: none;
}
#about-btn {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 5px;
    border: none;
    color: black;
}
#about-btn:focus {
    background: rgba(255,165,0, 0.2);
    color: white;
}